.event-circle {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px grey;

  background-color: rgb(232, 77, 77);
  cursor: pointer
}

.event-circle::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent; /* Adjust width of the triangle */
  border-right: 15px solid transparent; /* Adjust width of the triangle */
  border-top: 25px solid rgb(177, 43, 43); /* Slightly different color for the triangle */
  
}

.event-icon {
  height: 60%;
  color: white;
}