.emergency-stop {
  height: 80px;
  width: 80px;
  background-color: #902626;
  border-radius: 10px;

  position: absolute;
  right: 30px;
  top: 30px
}

.emergency-icon {
  color: white;
  font-size: 40px;
}