.emergency-stop {
  height: 80px;
  width: 80px;
  background-color: #902626;
  border-radius: 20px;

  position: absolute;
  right: 30px;
  top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.emergency-icon {
  color: white;
  font-size: 40px;
}