.altitude {
  height: calc(100vh - 50px - 70px);
  width: 230px;

  margin: 25px;
  position: absolute;
}

.altitude-container {
  width: 40px;
  height: 100%;
  background-color: white;
}

.drone-altitude {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  align-items: center;
}

.altitude-marker {
  height: 5px;
  width: 50px;
  background-color: black;
}

.drone-id-container {
  background-color: white;
  color: black;
  font-weight: 1000;

  padding: 10px;
  width: fit-content;
  height: fit-content;

  border-radius: 5px;

  display: flex;
  align-items: center;
}