.menu-card {

  min-width: 400px;
  height: fit-content;
  margin-left: 20px;

  box-shadow: 5px 5px 5px lightgray;
  border-radius: 10px;

  color: black;
}

.mission-info {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  height: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 2px solid black;

  &:hover {
    cursor: pointer;
    box-shadow: none;
  }
}

.mission-id {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 1000;
}

.card-button {
  border: 2px solid black;
  min-height: 50px;
  min-width: 50%;
}

.stop-button {
  @extend .card-button;

  border-bottom-left-radius: 10px;
}

.configure-button {
  @extend .card-button;
  border-bottom-right-radius: 10px;
}