.drone-card {

  min-width: 400px;
  height: fit-content;
  margin-left: 20px;

  box-shadow: 5px 5px 5px lightgray;
  border-radius: 10px;

  color: black;
}

.drone-info {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  height: fit-content;
  padding-top: 15px;


  &:hover {
    cursor: pointer;
    box-shadow: none;
  }
}

.drone-unselected {
  @extend .drone-info;
  border: 2px solid black;
}

.drone-selected {
  @extend .drone-info;
  border: 2px solid #0A84FF;
  background-color: #cde6ff;
}

.drone-id {
  float: left;
  margin-left: 20px;

  font-weight: 1000;
}

.battery {
  float: right;
  margin-right: 20px;
}

.position {
  float: left;
  margin-left: 20px;
}

.card-button {
  border: 2px solid black;
  min-height: 50px;
  min-width: 50%;
}

.follow-button {
  @extend .card-button;

  border-bottom-left-radius: 10px;
}

.video-button {
  @extend .card-button;
  border-bottom-right-radius: 10px;
}

.button-icon {
  margin-right: 5px;
}

.battery-icon {
  margin-left: 5px;
  font-size: 20px;
}

.low-battery-icon {
  @extend .battery-icon;

  color: red;
}