.input-value {
  font-size: large;
  border: none;
  background: none;
  width: 20%;
}

.input-unit {
  color: gray;
  flex-grow: 1;
}

.value-button {
  margin-left: 10px;

  font-size: 30px;
  padding: 0 15px 0 15px;
}