.mapbox-improve-map {
  display: none !important;
}

.mapbox-button-layout {
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: auto;
  background-size: 70%;
}

.mapbox-gl-draw-marker{
  @extend .mapbox-button-layout;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAB90lEQVRIie3WvWsUQRgG8F+MiRYWJ4LimYCtH7GxVdBKa8HUAUXwC0Wx0iZ2doqi/gepjCgm2igSsbQxUc7OQhOboISDQ9BoMbPe5tjd+9iz0gfeYmeeeZ6Zd2fmHf6jGGO4hQXUYyzgJvb+DcMNuIuf+JUTP3AHw/00fVFg2BrP+2V+rwvTJG6XNR1TnN6itO8pEl7XxvhkB5wsDOJED+P+4J3sFT3BDoxgNoczX8Z4JUd0JMUZzeGsFAm3S+P63uaLkO6eMS97NbPCqkfxNIfztozxZI5oJzFZxngbGj2YNuLYUjjfg/G5sqYwgKkuTKfimL5gGDMdmM7oY5FImz8uMH2Gjf0yq2I8hig8l2E6lzJN+NVuzTbjMmop4VWcSvUvpvoWY5vIWU311aJW0p+LC8KrIhm4jGnhTB7T3DQTKc5EbBuInOt4GMcmnLpwOjJxKUV8hCMYyuFWUtxKDmcIR63dFxeziF9i5/G8mbXglfBvO8F41F5KGtJFoNGhSIKDXXCTX5RZlM5qbqQHOJxH7BCDUWNaM9WnW2eS4AxuYFP8XsZLvBEeBZ+EXfwd3yKnIjwIq0K12o39OIQtkVPHFdwvmulWXMMH2RdFN1HD1ai5Bu3u1J04gH3YJTx3tscVJmfza8zAEj7jvVCLX+NjG/1/CL8BA54CD30mV4kAAAAASUVORK5CYII=);
}

.mapbox-gl-draw-beacon{
  @extend .mapbox-button-layout;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAEBklEQVRoge2Z24tVVRzHP568NDNOF6IJexFUNMcMdCTLhJEexMsYiv0HafQSNKIJgVhQQUyaF0j0oUgSBBEfvD5kktoF6iXICG20emgcdbzMDDQWM7uHtY+s8937t84+Z85xfNgfOA97r+/vt79rrz1r/dYayMnJycl5wHgJ6AbuAOvH0Mc6YAC4DCyqNHgG0AdE8W8IaKqlu4w8Gj+76KMv9paJRuCCFxwB/zA2HZkM9IuXX4CGLME7JDACNtbFZjY2pPj5pFzQi8CwBH1ZP4+ZOUCpp2Gc11TGAecl4DLQXHeb5WkCLlHq7Qec5wRrSA7hkvtiMxsvk/S3Ok2oo3E4kPQh4A3ct9paA5MLgX3Am3FuiyPi8ZwK2kQwUsbgbk97A3ikcu/3aAFuevl2BbTPxt58r/N9wXZpPBlItprkEC+opgcx7SRfYuonE3NK9B8XG8YBf0njWiNJM3BdtL8BE6vvB+OBXyXnNdwaksarov0z7gOt0tCPveBsFu0QMrRV0kbpCh4BbxvaRmBQtLMAXpebx4wEk4Be0W6pQSeKbJXcvdgjfUK06wq4t+Fz3ghejPvDLHIL2Bkwtgo4g3t7g8DXQEdAvwO47V234ArXNHS2aiN+gN+7FUZwl+j2BEx9KFr/934gbq9oPzJ0HaL7CuCK3JxlBOs6Y80sqwKdKP6skdFF+ayhe0Z03VA6h0fA40Zwt+imGbozGTpy2oidIbpLhu4J0fUB/Cs3JxjBOlNYZf1Aho70G7FNohs0dBNFd7dgCNOI5Dq1YKsyVxH1M5I1YQH3Bn2sheiqXD9l6H7M8NyfjPuas9fQaUU+UMDtyX2eNIK1I3MN3XbjfhbNc3LdY+ha5Pp2ATdr+Vh74u/l2pqmjwEfGG3gpt/jRtsyuf7W0E2X6yuQnLs3G8FLRHcLdzhg0YGbnQbi32lgZUD/GG5B9J/RbmjfEd2nkCxRjhrBE0iWKO8GjFXKe5L7b+wZ9KRoXwOYLTfvAA8bCTaJdojRlfBFFgB3JXenoU0rGmdCehlvrdpNJEfldzIezxg0xzn8nD2x4TTWivYPvKVgmzRanxfAKyR3aUur70eiLBkBlgf0+ll1+Y261R0mHi4Dv+NDwNRqehAzh9IjqK6AtpXkS5ynonMiOBhIOB53cLYfd7oxWtYAh3CzUejw4bB4/CZNpHvxEez9wFige/sI95mnoqV6N3bJcj9pBC5S6u07AvXeCySPTD+ru83yfEHyb/j5ckF6NBQBb9XPY1k6U/yEJoR7NOCO7v3A/4ApdbEZ5un42b6Xn7EX7ATTKf1HT0RtjkYrZY54uIG9MzVpxxWGEfB5Ld1VyP7Yw03sIrIsDYzNJ6VMYXRlUE5OTs4Dxv8YtdPFBAIniQAAAABJRU5ErkJggg==);
}

.mapbox-gl-draw-beacon-mode{
  @extend .mapbox-button-layout;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABCCAYAAADjVADoAAAABmJLR0QA/wD/AP+gvaeTAAACWUlEQVR4nO2Zz4uNURzGP3OZNMoYkYVS7khDSdloSqz9A7IXEVlMYaH4C2SrSRaEZDVlYsGOrNhYjfKjjIhpRoSacbkW573T7XTf9z3n3PPee0bPp57N6Z7vOc9zb+97vueCEEIIIYQQQgghhBD9ZCBCje3AGDCcqZd8AT4DH4DZHq8NwDhwBXgHNBPR22xP4xX6XmYncK+H5kL1CNhTUQacBRoJmHRVAzgXM4BB4HoCxkJ1A1gTI4jJBMx0q5vdhnAmAROxdD40hFFg0WOhX8DvBAznqQHsDgnijkPxJ8BhYGM2p4Y5U1wA5hIwb+uhbwi7gD8FBReBEyU1RoDpBMzbOugTxKWSYscc66xKMIxJnyBeFBSa8ikEbAa+JRBAS3PAapeNDwF/Cwod8AwCzNG33wG0a6+9wVqHTW8hvxn7Djxzdd/GdMCcKhm1B/KCyOM95iHqy5uAOVVStwc6BdEsKBDatsdo92Oy1h7oFMTHggJbMW8CX7YFzKmSr/ZApyA+kf+rGAb2Byx8KGBOlbx2/eBz8p+49z0XHQHmC+r1WkvABtfNXywpdtyxzgBwNwHz7XrsGgKUH7GXgJMlNYaAWwkYt3XaJwgcTTwFjgCbsjk1YAcwgblM7bdpW7OYL8iLOv9XG94EjvqG0OJUApuPpQeEvfqXuZqAiW41g3l7dcUgcC0BM6F6SeQD3QTpPwNsTQHrYobQYoyV8QfPDOYKsfIeZx9wGdNV9tt0SwvAbUwAThcv7cRIrI75pazP1Et+Aj8wvcMrzE21EEIIIYQQQgghhBArkH+PmzA8FZ4yoAAAAABJRU5ErkJggg==);
}

.mapbox-gl-draw-waypoint{
  @extend .mapbox-button-layout;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABdklEQVRYhe3WPU7DQBAF4C9USKBwBiR+Cs6Qnp+CipaSNnADSnpEQcE5AqKgQHTcgAIJ6JGSPlCsLazgtdeOBU2etI1n3uzzjD0zLLBAMyyhNwf3sO3FazjFC15xjvUG3GHG/Wp68SYu8JmRZ88zTrBawt2IcGuxhAPcYZqRprjFPga4wbgQdJw9G2Q+tzPcURMBeaq+MMEVtkv8VnCMh8JlxTPGJbYy/2QBueOZUL8UrAvfxWv2AkP0I3GTBcziAB94x16E2xNK2CRusuN7wfaWEiglbkztvyKWgT0hC2/Y7TBureMTHiO+TWytS5D/Yl3aKpGcqi7ipmSgKs1V9jpesoC6VMbsf16CukY1dyOqQ12j6qQRzbOQJKNMad/PUhFbSGKNak0YbK1KsCWM1OLsz89UGMXHwmiexbYwyicFzksTASPdLSR3wkeaVPLiW05wjZ0Sv2Uc4V75QlLFrRWQLxVtF5LTBtxfONR+TFctJAssUIpviZqz1Z8MECYAAAAASUVORK5CYII=);
}

.mapboxgl-map.mode-draw_beacon .mapboxgl-canvas-container.mapboxgl-interactive
{ cursor: crosshair;}

.mapboxgl-ctrl-bottom-left{
  bottom: 70px;
}

.mapboxgl-ctrl-bottom-right{
  display: none;
}