.VideoStreamApp {
    width: 100%; height: 100%;
    margin: 0; padding: 0; border: 0;
    --background: var(--black, #000000);
}

.stream-container {
    position: relative; float: left;
    border-radius: 4px;
    margin: 2px;
    --background: var(--black, #000000);
}
.stream-container video{
    display: block;
    margin: auto; border: 0;
    width: 100%;
}
