.bottom-menu {
  height: 70px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid grey;
  background-color: #edeff2;
  position: absolute;
}

.button {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  float: right;

  background-color: #edeff2;

  margin-right: 20px;
}

.icon {
  font-size: 20px;
}